Betriebssysteme/lilo
Betriebssysteme/sieve
Info2/__pycache__/aufgabe2.cpython-310.pyc
Info2/TheorieHausaufgaben/Aufgabe3.aux
Info2/TheorieHausaufgaben/Aufgabe3.log
Info2/TheorieHausaufgaben/Aufgabe3.synctex.gz
Info2/TheorieHausaufgaben/Aufgabe3.bbl
Info2/TheorieHausaufgaben/Aufgabe3.bcf
Info2/TheorieHausaufgaben/Aufgabe3.blg
Info2/TheorieHausaufgaben/Aufgabe3.out
Info2/TheorieHausaufgaben/Aufgabe3.run.xml
Info2/TheorieHausaufgaben/Aufgabe3b.aux
Info2/TheorieHausaufgaben/Aufgabe3b.bbl
Info2/TheorieHausaufgaben/Aufgabe3b.bcf
Info2/TheorieHausaufgaben/Aufgabe3b.blg
Info2/TheorieHausaufgaben/Aufgabe3b.log
Info2/TheorieHausaufgaben/Aufgabe3b.out
.gitignore
Info2/TheorieHausaufgaben/Aufgabe3b.run.xml
Info2/TheorieHausaufgaben/Aufgabe3b.synctex.gz
Betriebssysteme/wlist5.mine
.gitignore
Betriebssysteme/sortierlisten/.wlist0.bsteam.kate-swp
Betriebssysteme/wsort
Betriebssysteme/vgcore.120552
Betriebssysteme/clashhw/clash
.gitignore
Betriebssysteme/clashhw/out.txt
Betriebssysteme/clashhw/a.out
