Betriebssysteme/lilo
Betriebssysteme/sieve
Info2/__pycache__/aufgabe2.cpython-310.pyc
Info2/TheorieHausaufgaben/Aufgabe3.aux
Info2/TheorieHausaufgaben/Aufgabe3.log
Info2/TheorieHausaufgaben/Aufgabe3.synctex.gz
Info2/TheorieHausaufgaben/Aufgabe3.bbl
Info2/TheorieHausaufgaben/Aufgabe3.bcf
Info2/TheorieHausaufgaben/Aufgabe3.blg
Info2/TheorieHausaufgaben/Aufgabe3.out
Info2/TheorieHausaufgaben/Aufgabe3.run.xml
Info2/TheorieHausaufgaben/Aufgabe3b.aux
Info2/TheorieHausaufgaben/Aufgabe3b.bbl
Info2/TheorieHausaufgaben/Aufgabe3b.bcf
Info2/TheorieHausaufgaben/Aufgabe3b.blg
Info2/TheorieHausaufgaben/Aufgabe3b.log
Info2/TheorieHausaufgaben/Aufgabe3b.out
.gitignore
Info2/TheorieHausaufgaben/Aufgabe3b.run.xml
Info2/TheorieHausaufgaben/Aufgabe3b.synctex.gz
Betriebssysteme/testsorting.sh
Betriebssysteme/wlist5.mine
.gitignore
Betriebssysteme/sortierlisten/.wlist0.bsteam.kate-swp
Betriebssysteme/sortierlisten/wlist0
Betriebssysteme/sortierlisten/wlist0.bsteam
Betriebssysteme/sortierlisten/wlist0.mine
Betriebssysteme/sortierlisten/wlist1
Betriebssysteme/sortierlisten/wlist1.bsteam
Betriebssysteme/sortierlisten/wlist1.mine
Betriebssysteme/sortierlisten/wlist2
Betriebssysteme/sortierlisten/wlist2.bsteam
Betriebssysteme/sortierlisten/wlist2.mine
Betriebssysteme/sortierlisten/wlist3
Betriebssysteme/sortierlisten/wlist3.bsteam
Betriebssysteme/sortierlisten/wlist3.mine
Betriebssysteme/sortierlisten/wlist4
Betriebssysteme/sortierlisten/wlist4.bsteam
Betriebssysteme/sortierlisten/wlist4.mine
Betriebssysteme/sortierlisten/wlist05
Betriebssysteme/sortierlisten/wlist5
Betriebssysteme/sortierlisten/wlist5.bsteam
Betriebssysteme/sortierlisten/wlist5.mine
Betriebssysteme/sortierlisten/wlist6
Betriebssysteme/sortierlisten/wlist6.bsteam
Betriebssysteme/sortierlisten/wlist6.mine
Betriebssysteme/sortierlisten/wsort.bsteam
Betriebssysteme/wsort
